* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.header {
    width: 100vw;
    padding: 50px 100px;

}

.nav {
    display: flex;
    justify-content: space-between;
}

.title-h1 {
    display: flex;
}

.header-h1 {
    padding-top: 9px;
    padding-left: 7px;
    color: #131318;


    font-weight: 800;

}

span {
    color: #FF5400;

    font-weight: 800;

}

.option>ul {
    display: flex;
    gap: 20px;

}

.option li {
    list-style: none;
    color: #424247;

    font-weight: 400;
    padding-top: 20px;



}

.home {
    color: #FF5400;
}

.background {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    height: 100vh;
    margin-top: 30px;
    background-position: 50%;
}

.back-h1 {
    color: #FFF;
    padding-top: 100px;
    font-size: 64px;

    font-weight: 800;
    text-align: center;
}

.back-p {
    color: #FFF;
    text-align: center;
    padding: 30px 100px;
    font-size: 16px;

    font-weight: 400;

}

.form {
    width: 70%;
    background-color: #FF5400;
    height: auto;
    padding: 16px;
    margin: auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 5px;


}

.in {
    justify-content: center;
    margin: auto;
}

.form-input {
    border-radius: 8px;
    background: #FFF;
    width: 170px;
    height: 40px;
    border: none;
    padding-left: 8px;


}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    width: 170px;
    height: 40px;
    border: none;
}




/* main style */

.container1 {
    display: flex;
    gap: 50px;
    width: 100vw;
    padding: 50px 100px;
}

.tour-top {
    padding: 30px 0;
}

.tour-bottom {
    padding: 30px 0;
}

.discription ul {
    padding-left: 30px;
}

.dis {
    align-items: center;
}

.dis-img {
    width: fit-content;
}

.container2 {
    width: 100vw;
    padding: 50px 100px;
}

.con-h1 {
    color: #131318;
    text-align: center;
    font-weight: 800;

}

.con-p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 30px 100px;
}

.image-container img{
    width: 100%;
    height: 100%;
   
}

.image-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

.grid-item-1{
    grid-column: 1/span 6;
}

.grid-item-2{
    grid-column: 7/ span 6;
}

.grid-item-3{
    grid-column: 1 / span 4;
}

.grid-item-4{
    grid-column: 5 / span 5;
}

.grid-item-5{
    grid-column: 10 / span 3;
}

.grid-item-6{
    grid-column: 1 / span 5;
}

.grid-item-7{
    grid-column: 6 / span 7;
}













@media screen and (max-width: 600px) {
    .header {

        padding: 20px;

    }

    .back-h1 {
        font-size: 50px;
        padding-top: 2px;
        padding-left: 2px;
        font-weight: 400;

    }

    .form {
        flex-direction: column;
        width: 40%;
    }

    .container1 {
        flex-direction: column;
        padding: 20px;
    }

    .container2{
        padding: 20px;
    }

    .con-p{
        padding: 10px;
    }
    .image-container{
        display: flex;
        flex-direction: column;
       
        gap: 10px;
    }

    


}